@model IEnumerable<DiPatternDemo.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Studid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudPercentage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Studid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudPercentage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Studid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Studid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Studid })
            </td>
        </tr>
}
    </tbody>
</table>
